<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"> <i class="fa fa-user" aria-hidden="false">         </i> Nome</th>
      <th scope="col"> <i class="fa fa-balance-scale" aria-hidden="false">         </i> Peso</th>
      <th scope="col"> <i class="fa fa-group" aria-hidden="false">         </i> Altura</th>
      <th scope="col"> <i class="fa fa-percent" aria-hidden="false">         </i> Massa Magra</th>
      <th scope="col"> <i class="fa fa-gears" aria-hidden="false">         </i> Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let clien of this.cli.lista" title="Clique para ver mais detalhes">
      <th scope="row">{{clien.usuario.login}}</th>
      <td>{{clien.peso}}</td>
      <td>{{clien.altura}}</td>
      <td>{{clien.massaMagra}} %</td>

      <td>
        <button class="btn btn-xs btn-outline-primary" (click)="visualizar(clien.id)"><i class="fa fa-eye"></i></button>
        <button class="btn btn-xs btn-outline-danger"><i class="fa fa-trash-o"></i></button>
      </td>

    </tr>
    </tbody>

  </table>
  <div style="background: #d2d2d2; height: 0.5px" class="col-12"></div>

  <div class="offset-xl-9 offset-lg-8 offset-md-6 offset-sm-4 offset-2" style="margin-top: 16px;">
    <button class="btn btn-xs btn-primary"        routerLink="/cliente"><i class="fa fa-pencil"></i> CADASTRAR</button>
  </div>
</div>
