/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(235,235,235); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(234,232,229,1) 0%, rgba(255,255,255,1) 73%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(234,232,229,1) 0%,rgba(255,255,255,1) 73%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(235,235,235,1) 0%,rgba(234,232,229,1) 0%,rgba(255,255,255,1) 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.btn-primary {
  background-color: #19bfe8;
  border-color: #18a1c9;
}

.btn-outline-primary {
  color: #19bfe8;
  border-color: #18a1c9;
}
